{% extends "dashboard/base.html" %} {% load static %} {% block content %}

<h1 class="font-bold text-4xl mb-2">Overview</h1>
<!--Overview grid-->
<div class="grid gap-5 grid-cols-3 mb-8">
  <a class="w-full " href="{% url 'dashboard-customer' %}" style="cursor: pointer;">
    <div
      class="xl:h-40 lg:h-32 bg-white shadow-2xl flex justify-between p-8"
      style="border-radius: 20px"
    >
      <div class="flex items-center">
        <div>
          <span class="font-extrabold text-6xl" style="color: #e94560">{{ customercount }}</span>
          <span class="font-bold text-2xl ml-2 text-color">Customers</span>
        </div>
      </div>
      <div class="flex items-center">
        <img
          src="{% static '/img/customer.svg' %}"
          alt="orders"
          height="100"
          width="100"
        />
      </div>
    </div>
  </a>
  <a class="w-full " href="{% url 'dashboard-product' %}" style="cursor: pointer;">
    <div
      class="xl:h-40 lg:h-32 bg-white shadow-2xl flex justify-between px-8"
      style="border-radius: 20px"
    >
      <div class="flex items-center">
        <div>
          <span class="font-extrabold text-6xl" style="color: #04458f">{{ productcount }}</span>
          <span class="font-bold text-2xl ml-2 text-color">Products</span>
        </div>
      </div>
      <div class="flex items-center">
        <img
          src="{% static '/img/products.svg' %}"
          alt="orders"
          height="100"
          width="100"
        />
      </div>
    </div>
  </a>
  <a class="w-full " href="{% url 'dashboard-order' %}" style="cursor: pointer;">
    <div
      class="xl:h-40 lg:h-32 bg-white shadow-2xl flex justify-between px-8"
      style="border-radius: 20px"
    >
      <div class="flex items-center">
        <div class="text-color">
          <span class="font-extrabold text-6xl" style="color: #00af80">{{ ordercount }}</span>
          <span class="font-bold text-2xl ml-2 text-color">Orders</span>
        </div>
      </div>
      <div class="flex items-center">
        <img
          src="{% static '/img/order.svg' %}"
          alt="orders"
          height="100"
          width="100"
        />
      </div>
    </div>
  </a>
</div>
<!--Overview grid End-->

<!--Table -->
<h1 class="font-bold text-4xl mb-2">Recent Customers</h1>
<div class="container w-full mx-auto px-2 text-color mb-8">
  <!--Card-->
  <div id="recipients" class="p-4 mt-6 lg:mt-0 rounded-lg shadow bg-white">
    <table
      id="example"
      class="stripe hover"
      style="width: 100%; padding-top: 1em; padding-bottom: 1em"
    >
      <thead>
        <tr>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            data-priority="1"
          >
            Date Registered
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            data-priority="2"
          >
            Firstname
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            data-priority="3"
          >
            Lastname
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            data-priority="4"
          >
            Date of Birth
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            data-priority="5"
          >
            Address
          </th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
        <tr>
          <td class="px-6 py-4">{{ customer.date_registered|date:"d/m/Y" }}</td>
          <td class="px-6 py-4">{{ customer.firstname }}</td>
          <td class="px-6 py-4">{{ customer.lastname }}</td>
          <td class="px-6 py-4">{{ customer.birthday|date:"d/m/Y" }}</td>
          <td class="px-6 py-4">{{ customer.address }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="flex justify-end mt-1 mr-5">
      <a href="{% url 'dashboard-customer' %}" class="text-blue-400" style="cursor: pointer;">
        See more
      </a>
    </div>
  </div>
  <!--/Card-->
</div>
<!--/container-->

<!--Table -->
<h1 class="font-bold text-4xl mb-2">Recent Products</h1>
<div class="container w-full mx-auto px-2 text-color mb-8">
  <!--Card-->
  <div id="recipients" class="p-4 mt-6 lg:mt-0 rounded-lg shadow bg-white">
    <table
      id="example"
      class="stripe hover"
      style="width: 100%; padding-top: 1em; padding-bottom: 1em"
    >
      <thead>
        <tr>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            data-priority="1"
          >
            Product ID
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            data-priority="2"
          >
            Product Name
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            data-priority="3"
          >
            Brand
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            data-priority="4"
          >
            No. of Stocks
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
            data-priority="5"
          >
            Price
          </th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td class="px-6 py-4">{{product.id}}</td>
          <td class="px-6 py-4">{{product.productname}}</td>
          <td class="px-6 py-4">{{product.brand}}</td>
          <td class="px-6 py-4">{{product.no_stocks}}</td>
          <td class="px-6 py-4">{{product.price}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="flex justify-end mt-1 mr-5">
      <a href="{% url 'dashboard-product' %}" class="text-blue-400 " style="pointer-events: auto;"> See more </a>
    </div>
  </div>
  <!--/Card-->
</div>
<!--/container-->

{% endblock content %}
