{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<h1 class="font-bold text-4xl mb-2">Overview</h1>
<!--Overview grid-->
<div class="grid gap-5 grid-cols-3 mb-8">
    <a class="w-full cursor-pointer" href="">
        <div class="xl:h-40 lg:h-32 bg-white shadow-2xl flex justify-between p-8" style="border-radius: 20px;">
            <div class="flex items-center">
                <div>
                    <span class="font-extrabold text-6xl" style="color: #e94560;">24</span>
                    <span class="font-bold text-2xl ml-2  text-color">Customers</span>
                </div>
            </div>
            <div class="flex items-center">
                <img src="{% static '/img/customer.svg' %}" alt="orders" height="100" width="100">
            </div>
        </div>
    </a>
    <a class="w-full cursor-pointer" href="">
        <div class="xl:h-40 lg:h-32 bg-white shadow-2xl flex justify-between px-8" style="border-radius: 20px;">
            <div class="flex items-center">
                <div>
                    <span class="font-extrabold text-6xl " style="color: #04458F;">50</span>
                    <span class="font-bold text-2xl ml-2 text-color">Products</span></div>

            </div>
            <div class="flex items-center">
                <img src="{% static '/img/products.svg' %}" alt="orders" height="100" width="100">
            </div>
        </div>
    </a>
    <a class="w-full cursor-pointer" href="">
        <div class="xl:h-40 lg:h-32 bg-white shadow-2xl flex justify-between px-8" style="border-radius: 20px;">
            <div class="flex items-center">
                <div class=" text-color">
                    <span class="font-extrabold text-6xl " style="color: #00AF80;">30</span>
                    <span class="font-bold text-2xl ml-2 text-color">Messages</span></div>

            </div>
            <div class="flex items-center">
                <img src="{% static '/img/message.svg' %}" alt="orders" height="100" width="100">
            </div>
        </div>
    </a>
</div>
<!--Overview grid End-->

<!--Table -->
<h1 class="font-bold text-4xl mb-2">Recent Customer</h1>
<div class="container w-full   mx-auto px-2 text-color mb-8">
    <!--Card-->
    <div id='recipients' class="p-4 mt-6 lg:mt-0 rounded-lg shadow bg-white">
        <table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        data-priority="1">Date Registered</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        data-priority="2">Firstname</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        data-priority="3">Lastname</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        data-priority="4">Date of Birth</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        data-priority="5">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="px-6 py-4">1900/01/01</td>
                    <td class="px-6 py-4">Jhosie</td>
                    <td class="px-6 py-4">Espantaleon</td>
                    <td class="px-6 py-4">1800/01/01</td>
                    <td class="px-6 py-4">Cebu</td>

                </tr>
                <tr>
                    <td class="px-6 py-4">2000/02/01</td>
                    <td class="px-6 py-4">Elram</td>
                    <td class="px-6 py-4">Espra</td>
                    <td class="px-6 py-4">1700/06/05</td>
                    <td class="px-6 py-4">Cebu</td>

                </tr>
                <tr>
                    <td class="px-6 py-4">1200/07/02</td>
                    <td class="px-6 py-4">Aldren</td>
                    <td class="px-6 py-4">Concordia</td>
                    <td class="px-6 py-4">2000/01/01</td>
                    <td class="px-6 py-4">Cebu</td>
                </tr>


            </tbody>
        </table>
        <div class=" flex justify-end mt-1 mr-5">
            <a href="{% url 'dashboard-customer' %}" class="text-blue-400">
                See more
            </a>
        </div>
    </div>
    <!--/Card-->
</div>
<!--/container-->

<!--Table -->
<h1 class="font-bold text-4xl mb-2">Recent Products</h1>
<div class="container w-full   mx-auto px-2 text-color mb-8">
    <!--Card-->
    <div id='recipients' class="p-4 mt-6 lg:mt-0 rounded-lg shadow bg-white">
        <table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        data-priority="1">Date Registered</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        data-priority="2">Firstname</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        data-priority="3">Lastname</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        data-priority="4">Date of Birth</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        data-priority="5">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="px-6 py-4">1900/01/01</td>
                    <td class="px-6 py-4">Jhosie</td>
                    <td class="px-6 py-4">Espantaleon</td>
                    <td class="px-6 py-4">1800/01/01</td>
                    <td class="px-6 py-4">Cebu</td>

                </tr>
                <tr>
                    <td class="px-6 py-4">2000/02/01</td>
                    <td class="px-6 py-4">Elram</td>
                    <td class="px-6 py-4">Espra</td>
                    <td class="px-6 py-4">1700/06/05</td>
                    <td class="px-6 py-4">Cebu</td>

                </tr>
                <tr>
                    <td class="px-6 py-4">1200/07/02</td>
                    <td class="px-6 py-4">Aldren</td>
                    <td class="px-6 py-4">Concordia</td>
                    <td class="px-6 py-4">2000/01/01</td>
                    <td class="px-6 py-4">Cebu</td>
                </tr>


            </tbody>
        </table>
        <div class=" flex justify-end mt-1 mr-5">
            <a href="#" class="text-blue-400">
                See more
            </a>
        </div>
    </div>
    <!--/Card-->
</div>
<!--/container-->


{% endblock content %}