{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    {% if title %}
    <title>Inventory System - {{ title }}</title>
    {% else %}
    <title>Inventory System </title>
    {% endif %}
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static '/img/favicon.png' %}" rel="icon" />
    <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

    <link href="{% static '/vendor/icofont/icofont.min.css' %}" rel="stylesheet" />
    <link href="{% static '/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
    <link href="{% static '/vendor/remixicon/remixicon.css' %}" rel="stylesheet" />
    <link href="{% static '/vendor/venobox/venobox.css' %}" rel="stylesheet" />
    <link href="{% static '/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{% static '/css/landingstyle.css' %}" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Arsha - v2.2.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
            <h1 class="logo mr-auto"><a href="index.html"></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="index.html" class="logo mr-auto"><img src="{% static '/img/logo.png' %}" alt=""
                    class="img-fluid" /></a>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class=""><a href="index.html">EXPLORE</a></li>
                    <li><a href="#about">PRICING</a></li>
                    <li><a href="#services">FEATURE</a></li>
                    <li>
                        <a data-target="#exampleModalCenter" data-toggle="modal" href="#exampleModalCenter">ABOUT US</a>
                    </li>
                    <li>
                        <a data-target="#contactUsModal" data-toggle="modal" href="#contactUsModal">CONTACT US</a>
                    </li>
                </ul>
            </nav>
            <!-- .nav-menu -->
            <!--Modal About Us-->
            <div class="container">
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <section id="about" class="about">
                                    <div class="container" data-aos="fade-up">
                                        <div class="section-title">
                                            <h2>About Us</h2>
                                        </div>

                                        <div class="row content">
                                            <div class="col-lg-6">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit, sed do eiusmod tempor incididunt ut labore et
                                                    dolore magna aliqua.
                                                </p>
                                                <ul>
                                                    <li>
                                                        <i class="ri-check-double-line"></i> Ullamco
                                                        laboris nisi ut aliquip ex ea commodo consequat
                                                    </li>
                                                    <li>
                                                        <i class="ri-check-double-line"></i> Duis aute
                                                        irure dolor in reprehenderit in voluptate velit
                                                    </li>
                                                    <li>
                                                        <i class="ri-check-double-line"></i> Ullamco
                                                        laboris nisi ut aliquip ex ea commodo consequat
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 pt-4 pt-lg-0">
                                                <p>
                                                    Ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat. Duis aute irure dolor in reprehenderit in
                                                    voluptate velit esse cillum dolore eu fugiat nulla
                                                    pariatur. Excepteur sint occaecat cupidatat non
                                                    proident, sunt in culpa qui officia deserunt mollit
                                                    anim id est laborum.
                                                </p>
                                                <a href="#" class="btn-learn-more">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Modal About Us-->
            <!--Modal Contact US-->
            <div class="container">
                <div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <section id="contact" class="contact">
                                    <div class="container" data-aos="fade-up">
                                        <div class="section-title">
                                            <h2>Contact</h2>
                                            <p>
                                                Magnam dolores commodi suscipit. Necessitatibus eius
                                                consequatur ex aliquid fuga eum quidem. Sit sint
                                                consectetur velit. Quisquam quos quisquam cupiditate.
                                                Et nemo qui impedit suscipit alias ea. Quia fugiat sit
                                                in iste officiis commodi quidem hic quas.
                                            </p>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-5 d-flex align-items-stretch">
                                                <div class="info">
                                                    <div class="address">
                                                        <i class="icofont-google-map"></i>
                                                        <h4>Location:</h4>
                                                        <p>A108 Adam Street, New York, NY 535022</p>
                                                    </div>

                                                    <div class="email">
                                                        <i class="icofont-envelope"></i>
                                                        <h4>Email:</h4>
                                                        <p>info@example.com</p>
                                                    </div>

                                                    <div class="phone">
                                                        <i class="icofont-phone"></i>
                                                        <h4>Call:</h4>
                                                        <p>+1 5589 55488 55s</p>
                                                    </div>

                                                    <iframe
                                                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                                                        frameborder="0" style="border: 0; width: 100%; height: 290px"
                                                        allowfullscreen></iframe>
                                                </div>
                                            </div>

                                            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                                                <form action="forms/contact.php" method="post" role="form"
                                                    class="php-email-form">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="name">Your Name</label>
                                                            <input type="text" name="name" class="form-control"
                                                                id="name" data-rule="minlen:4"
                                                                data-msg="Please enter at least 4 chars" />
                                                            <div class="validate"></div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="name">Your Email</label>
                                                            <input type="email" class="form-control" name="email"
                                                                id="email" data-rule="email"
                                                                data-msg="Please enter a valid email" />
                                                            <div class="validate"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="name">Subject</label>
                                                        <input type="text" class="form-control" name="subject"
                                                            id="subject" data-rule="minlen:4"
                                                            data-msg="Please enter at least 8 chars of subject" />
                                                        <div class="validate"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="name">Message</label>
                                                        <textarea class="form-control" name="message" rows="10"
                                                            data-rule="required"
                                                            data-msg="Please write something for us"></textarea>
                                                        <div class="validate"></div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="loading">Loading</div>
                                                        <div class="error-message"></div>
                                                        <div class="sent-message">
                                                            Your message has been sent. Thank you!
                                                        </div>
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit">Send Message</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Modal Contact Us-->
            <a href="#" class="get-started-btn scrollto">LOGIN</a>
        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="rectangle-1"></div>
        <div class="ellipse-1"></div>
        <div class="ellipse-2"></div>
        <div class="ellipse-3"></div>
        <div class="ellipse-4"></div>
        <div class="ellipse-5"></div>
        <div class="ellipse-6"></div>
        <div class="ellipse-7"></div>
        <div class="container">
            <div class="row">
                <!-- <div class="col-sm-1"></div> -->
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                    data-aos="fade-up" data-aos-delay="200">
                    <h1>Inventory</h1>
                    <h1>For</h1>
                    <h1>The</h1>
                    <h1>People</h1>
                    <div class="d-lg-flex"></div>
                </div>
                <!-- <div class="col-lg-1"></div> -->
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="{% static '/img/data.png' %}" class="img-fluid animated" alt="" />
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->

    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static '/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static '/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static '/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static '/vendor/aos/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static '/js/main.js' %}"></script>
</body>

</html>