{% extends "dashboard/base.html" %} {% load static %} {% block content %}
<!--Table -->

<div class="flex justify-between mb-1">
  <div>
    <h1 class="font-bold text-4xl mb-2">Products</h1>
  </div>
  <div class="flex justify-between mr-6">
    <p class="text-white font-bold py-2 pl-4 rounded m-5">Start Date:</p>
    <input
      type="date"
      class="datepicker text-black font-bold py-2 pr-4 rounded mr-5 my-5"
      id="#start_date"
    />
    <p class="text-white font-bold py-2 pl-4 rounded m-5">End Date:</p>
    <input
      type="date"
      class="datepicker text-black font-bold py-2 pr-4 rounded mr-5 my-5"
      id="#end_date"
    />
    <button
      class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-5"
      id="filter"
    >
      Filter
    </button>
    <button
      class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-5"
      id="btnExport"
    >
      Export
    </button>
    <div>
      <a
        href="{% url 'dashboard-register_prod' %}"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5"
        type="button"
        >Add Product</a
      >
    </div>
  </div>
</div>

<!--Container-->
<div class="container"></div>
<!--Card-->
<div
  id="recipients"
  class="p-8 mt-6 lg:mt-0 rounded shadow bg-white text-color"
>
  <table
    id="table"
    class="stripe hover"
    style="width: 100%; padding-top: 1em; padding-bottom: 1em"
  >
    <thead>
      <tr>
        <th data-priority="1">Product ID</th>
        <th data-priority="2">Product Name</th>
        <th data-priority="3">Brand</th>
        <th data-priority="4">No of Stocks</th>
        <th data-priority="5">Price</th>
      </tr>
    </thead>
    <tbody>
      {% for product in product %}
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.productname}}</td>
        <td>{{product.brand}}</td>
        <td>{{product.no_stocks}}</td>
        <td>{{product.price}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!--/Card-->

<!--/container-->

<!-- jQuery -->
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.5.1.js"
></script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

<!--Datatables -->
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js%22%3E"></script> -->

<script>
  $(document).ready(function () {
    $("#table").DataTable();

    $("#btnExport").click(function () {
      let table = document.getElementsByTagName("table");
      TableToExcel.convert(table[0], {
        // html code may contain multiple tables so here we are refering to 1st table tag
        name: `product.xlsx`, // fileName you could use any name
        sheet: {
          name: "Sheet 1", // sheetName
        },
      });
    });
  });
</script>

{% endblock content %}
