{% extends "dashboard/base.html" %} {% load static %} {% block content %}
<!--Table -->

<div class="flex justify-between mb-1">
  <div>
    <h1 class="font-bold text-4xl mb-2">Products</h1>
  </div>
  <div class="flex justify-between mr-6">
    <p class="text-white font-bold py-2 pl-4 rounded m-5">Start Date:</p>
    <input
      type="date"
      class="datepicker text-black font-bold py-2 pr-4 rounded mr-5 my-5"
      id="#start_date"
    />
    <p class="text-white font-bold py-2 pl-4 rounded m-5">End Date:</p>
    <input
      type="date"
      class="datepicker text-black font-bold py-2 pr-4 rounded mr-5 my-5"
      id="#end_date"
    />
    <button
      class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-5"
      id="filter"
    >
      Filter
    </button>
    <button
      class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-5"
      id="btnExport"
    >
      Export
    </button>
    <div>
      <a
        href="{% url 'dashboard-register_prod' %}"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5"
        type="button"
        >Add Product</a
      >
    </div>
  </div>
</div>

<!--Container-->
<div class="container"></div>
<!--Card-->
<div
  id="recipients"
  class="p-8 mt-6 lg:mt-0 rounded shadow bg-white text-color"
>
  <table
    id="table"
    class="stripe hover"
    style="width: 100%; padding-top: 1em; padding-bottom: 1em"
  >
    <thead>
      <tr>
        <th data-priority="1">Product ID</th>
        <th data-priority="2">Product Name</th>
        <th data-priority="3">Brand</th>
        <th data-priority="4">No of Stocks</th>
        <th data-priority="5">Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in product %}
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.productname}}</td>
        <td>{{product.brand}}</td>
        <td>{{product.no_stocks}}</td>
        <td>{{product.price}}</td>
        <td class="flex justify-end">
          <a
            href="#"
            class="text-indigo-600 hover:text-indigo-900 mr-3 modal-open"
          >
            <img class="w-6" src="{% static '/img/eye.png' %}" alt="" />
          </a>
          <a href="#" class="text-indigo-600 hover:text-indigo-900">
            <img class="w-6" src="{% static '/img/delete.png' %}" alt="" />
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!--/Card-->
<!--/container-->

<!--Modal-->
<div
  class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
>
  <div
    class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"
  ></div>

  <div
    class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
  >
    <div
      class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50"
    >
      <svg
        class="fill-current text-white"
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 18 18"
      >
        <path
          d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
        ></path>
      </svg>
      <span class="text-sm">(Esc)</span>
    </div>

    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="modal-content py-4 text-left px-6">
      <!--Title-->
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold">Simple Modal!</p>
        <div class="modal-close cursor-pointer z-50">
          <svg
            class="fill-current text-black"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
          >
            <path
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
            ></path>
          </svg>
        </div>
      </div>

      <!--Body-->
      <p>Modal content can go here</p>
      <p>...</p>
      <p>...</p>
      <p>...</p>
      <p>...</p>

      <!--Footer-->
      <div class="flex justify-end pt-2">
        <button
          class="px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2"
        >
          Action
        </button>
        <button
          class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- jQuery -->
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.5.1.js"
></script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

<!--Datatables -->
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js%22%3E"></script> -->

<script>
  $(document).ready(function () {
    $("#table").DataTable();

    $("#btnExport").click(function () {
      let table = document.getElementsByTagName("table");
      TableToExcel.convert(table[0], {
        // html code may contain multiple tables so here we are refering to 1st table tag
        name: `product.xlsx`, // fileName you could use any name
        sheet: {
          name: "Sheet 1", // sheetName
        },
      });
    });
  });
</script>

<script>
  var openmodal = document.querySelectorAll(".modal-open");
  for (var i = 0; i < openmodal.length; i++) {
    openmodal[i].addEventListener("click", function (event) {
      event.preventDefault();
      toggleModal();
    });
  }

  const overlay = document.querySelector(".modal-overlay");
  overlay.addEventListener("click", toggleModal);

  var closemodal = document.querySelectorAll(".modal-close");
  for (var i = 0; i < closemodal.length; i++) {
    closemodal[i].addEventListener("click", toggleModal);
  }

  document.onkeydown = function (evt) {
    evt = evt || window.event;
    var isEscape = false;
    if ("key" in evt) {
      isEscape = evt.key === "Escape" || evt.key === "Esc";
    } else {
      isEscape = evt.keyCode === 27;
    }
    if (isEscape && document.body.classList.contains("modal-active")) {
      toggleModal();
    }
  };

  function toggleModal() {
    const body = document.querySelector("body");
    const modal = document.querySelector(".modal");
    modal.classList.toggle("opacity-0");
    modal.classList.toggle("pointer-events-none");
    body.classList.toggle("modal-active");
  }
</script>

{% endblock content %}
